@mixin gradient-radial($innerColor: #555, $outerColor: #333)  {
  background-color: $outerColor;
  background-image: -webkit-gradient(radial, center center, 0, center center, 460, from($innerColor), to($outerColor));
  background-image: -webkit-radial-gradient(circle, $innerColor, $outerColor);
  background-image: -moz-radial-gradient(circle, $innerColor, $outerColor);
  background-image: -o-radial-gradient(circle, $innerColor, $outerColor);
  background-repeat: no-repeat;
}

@mixin center(){
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

@mixin glow($glowSize: 5px, $glowColor: #fff){
  -moz-box-shadow: 0 0 $glowSize $glowColor;
  -webkit-box-shadow: 0 0 $glowSize $glowColor;
  box-shadow: 0px 0px $glowSize $glowColor;
}

$backColor : #1b2631;
$foreColor: #f7f9f9;
$accentColor: #d2b4de;
$circleSize : 400px;
$bubbleSize : 200px;
$closeSize : 30px;

* {
  font-family: 'Poiret One', cursive;
  box-sizing: border-box;
}

body {
  background-color: $backColor;
}

div {
  padding: 10px;
}

a {
  display: inline-block;
  transition: box-shadow 1.0s ease-out;
  text-decoration-line: none;
  min-height: 2em;
}

a:hover {
  @include glow(10px, $accentColor);
}

#welcome {
  @include gradient-radial($foreColor,$accentColor);
  @include center();
  transition: all 2s;
  height:$circleSize;
  width:$circleSize;
  border-radius: 50%;
  text-align: center;
  span {
    @include center();
    font-size: 500%;
  }
  p {
    position: absolute;
    top: $circleSize;
    color: $foreColor;
  }
  &:hover {
    cursor: pointer;
    @include glow(30px,white);
  }
}

#title {
  color:$accentColor;
}

.align-text {
  text-align: center;
}

.pageShadow {
  position: absolute;
  &:hover {
    cursor: pointer;
    @include glow(30px,white);
  }
}

.page {
  position: absolute;
  background-color: $foreColor;
  color:$backColor;
}

.transitions {
  transition: all 1.5s ease-out;
}

.halfwidth {
  width: 50%;
}

.hidden {
  visibility: hidden;
  opacity: 0.0;
}

.open {
  width:calc(100% - 20px);
  min-height: 95%;
  height:auto;
  border-radius:10px;
  .pageTitle {
    font-size: 30px;
  }
}

.bubble {
  height:$bubbleSize;
  width:$bubbleSize;
  border-radius: 50%;
  .pageTitle {
    font-size: 40px;
    @include center();
  }
  .content, .closePage {
    display: none;
    opacity: 0.0;
  }
}

.closePage {
  transition: all 1s;
  height:$closeSize;
  width:$closeSize;
  position: absolute;
  background-color: lightgray;
  border-radius: 50%;
  top: 10px;
  right: 10px;
  color: red;
  span {
    font-size: 20px;
    font-weight: 100;
    @include center();
  }
  &:hover {
    @include glow(25px,$accentColor);
    cursor: pointer;
    span {
      font-weight: 1000;
    }
  }
}

.spotifyPlayer {
  width:80%;
  min-height: 450px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
