@mixin gradient-radial($innerColor: #555, $outerColor: #333)  {
  background-color: $outerColor;
  background-image: -webkit-gradient(radial, center center, 0, center center, 460, from($innerColor), to($outerColor));
  background-image: -webkit-radial-gradient(circle, $innerColor, $outerColor);
  background-image: -moz-radial-gradient(circle, $innerColor, $outerColor);
  background-image: -o-radial-gradient(circle, $innerColor, $outerColor);
  background-repeat: no-repeat;
}

@mixin center(){
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

@mixin glow($glowSize: 5px, $glowColor: #fff){
  -moz-box-shadow: 0 0 $glowSize $glowColor;
  -webkit-box-shadow: 0 0 $glowSize $glowColor;
  box-shadow: 0px 0px $glowSize $glowColor;
}

@mixin insetGlow($glowSize: 5px, $glowColor: #fff){
  -moz-box-shadow: 0 0 $glowSize $glowColor inset;
  -webkit-box-shadow: 0 0 $glowSize $glowColor inset;
  box-shadow: 0px 0px $glowSize $glowColor inset;
}

@mixin bubble() {
  @include gradient-radial($foreColor,$accentColor);
  transition: all 1s ease-in;
  border-radius: 50%;
  text-align: center;
  &:hover {
    cursor: pointer;
    @include glow(30px,white);
  }
}

$backColor : #1b2631;
$foreColor: #f7f9f9;
$accentColor: #d2b4de;
$closeSize : 35px;